body {
  margin: 10px;
}

h3.google-font {
  font-family: "Lobster", cursive;
}

p.google-font {
  font-family: "Pacifico", cursive;
}

a.active-link {
  font-weight: bold;
  color: #ffffff !important;
}

.highlight {
  /* border: 1px solid red; */
  border: none;
}

.container {
  /* height: 100vh; */
  min-height: 400px !important;
}

.useful-row {
  height: 100%;
}

.col-lg-12.col-md-12.col-sm-12 {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
